<div id="calibration-container" class="container">

    <div id="calibration-instructions" class="container">
        <h2>Eye Tracker Calibration</h2>
        <p>Please look at the red dot and click on it. The dot will move to different positions.</p>
        <button id="start-button" class="invisible">Start</button>
    </div>

    <div id="calibration-point" class="hidden"></div>

    <div id="wheel" class="hidden">
        <svg width="40" height="40">
          <circle
            id="circle"
            class="invisible"
            cx="20"
            cy="20"
            r="18"
            stroke="red"
            stroke-width="3"
            fill="none"
            stroke-linecap="round"
          />
        </svg>
    
        <div id="check" class="invisible">
          <span class="material-symbols-rounded">check</span>
        </div>
      </div>

    <div id="progress-container">
        <progress id="calibration-progress" value="0" max="9"></progress>
    </div>

</div>