<div class="container vert-margin">
    <h1>Eye-Movements and Counterfactual Reasoning Experiment</h1>
    <div class="spacer"></div>
    <h2>DEBUGGING MENU</h2>
    
    <div id="condition-selector" class="container">

        <h3>Select Experiment Condition:</h3>
        <label>
            <input type="radio" name="fixation" value="false" checked> Free Viewing
        </label>
        <label>
            <input type="radio" name="fixation" value="true"> Central Fixation
        </label>

    </div>

    <div id="scene-selector" class="container">

        <h3>Select Scene:</h3>
        <label>
            <input type="radio" name="scene" value="4" checked> 4
        </label>
        <label>
            <input type="radio" name="scene" value="15"> 15
        </label>

    </div>
    
    <p>Please ensure you have a working webcam and are in a well-lit environment.</p>
    <button id="start-button">Start Experiment</button>
</div>